/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

main {
    margin: 0 10rem;
    background-color: #fff;
   
}

main img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

h1 {

        color: black;
        font-size: 4rem;
        margin-bottom: 20px;
        padding: 1rem;
        text-align: center; /* Add this line */
    
}

p {
    color: #393939;
    line-height: 2;
    padding: 3rem;
    font-size: 1.5rem;  
    color: #333;
    padding-top: 0;
}

.bold {
    font-weight: bold;
    line-height: 2;
    font-size: 2rem;  
    color: black;
    text-align: center;
}

#imgtext {
    color: #666;
    font-size: 1rem;
    padding: 1rem;
    margin-top: -2rem;
    border-style: ridge;
}

#textimg {
    width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
}

#stats {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    color: #666;
    font-size: 1rem;
    padding: 1rem;
    margin-top: -2rem;
    border-style: ridge;
}